body{
    background: #254DBB;
    color: white ;
}
.btn{
    border-radius: 5px;
}
#logo{
    width: 300px;  
}
#Hline{
    width: 500px;
}
#MainDiv{
    height: 100%;
    text-align: center; 
}
.paddbot{
    padding-bottom: 10px;
}
input{
    width: 20%;
}
button{
    width: 5%;
}
